<!DOCTYPE html>
 <html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Logging In</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Registration Success</h1>

        <form action="/" method="POST">
            {% csrf_token %}
                <input type="submit" value="Return to Login">
            </form>
    </body>
</html>